@use 'variables';
@use 'sass:color';
@use 'mixins/text';

.card{
    background-color: variables.$primary;
    padding: 5px;
    margin: 5px;

    &__btn{
        width: 100%;
        margin: 5px 0;
        border: none;
        background: color.adjust(variables.$primary, $whiteness: 15%);
        color: color.complement(variables.$primary);
        @include text.small-cap;

        &:hover{
            background: color.adjust(variables.$primary, $whiteness: 25%);
        }
    }
}